body {
  background: #eee;
  font-family: sans-serif;
  font-size:24px; 
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  font-size:24px; 
  padding: 18px 6px;
}

.title {
  background: #e3f4ff;
  font-size:24px; 
  margin:15px;
  padding:18px 6px;
}

.content {
  background: #e3f4ff;
  font-size:24px; 
  margin: 15px;
  padding:18px 6px;
}

.button-container {
  background: #e3f4ff;
  font-size:24px; 
  text-align: center;
  margin:15px;
  padding:18px 6px;
}

button {
  background: white;
  border: 1px solid #eee;
  font-size:24px;  
  display: block;
  margin-left:auto;
  margin-right: auto;

}